@{
    ViewData["Title"] = "Home Page";
}
@{

    BtTtcmWebContext db = new BtTtcmWebContext();
    var loai = db.TLoaiSps.ToList();
    var sp = db.TDanhMucSps.ToList();
    var count = 0;
}

<div id="content" role="main" class="content-area">
    <section class="section slider-section" id="section_963530842">
        <div class="bg section-bg fill bg-fill  bg-loaded">
        </div>
        <!-- .section-bg -->

        <div class="section-content relative">
            <div class="row row-small" id="row-1538451441">
                <div class="col medium-3 small-12 large-3">
                    <div class="col-inner">
                    </div>
                </div>
                <div class="col medium-9 small-12 large-9">
                    <div class="col-inner">
                        <div class="slider-wrapper relative" id="slider-1926502732">
                            <div class="slider slider-nav-dots-simple slider-nav-simple slider-nav-normal slider-nav-light slider-style-normal" data-flickity-options='{
            "cellAlign": "center",
            "imagesLoaded": true,
            "lazyLoad": 1,
            "freeScroll": false,
            "wrapAround": true,
            "autoPlay": 4000,
            "pauseAutoPlayOnHover" : true,
            "prevNextButtons": true,
            "contain" : true,
            "adaptiveHeight" : true,
            "dragThreshold" : 10,
            "percentPosition": true,
            "pageDots": true,
            "rightToLeft": false,
            "draggable": true,
            "selectedAttraction": 0.1,
            "parallax" : 0,
            "friction": 0.6        }'>

                                <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1575782013">
                                    <div class="img-inner dark">
                                        <img width="891" height="336" src="../access/wp-content/uploads/2019/03/slider-01.jpg" class="attachment-original size-original" alt="" srcset="../access/wp-content/uploads/2019/03/slider-01.jpg 891w, ../access/wp-content/uploads/2019/03/slider-01-300x113.jpg 300w, ../access/wp-content/uploads/2019/03/slider-01-768x290.jpg 768w, ../access/wp-content/uploads/2019/03/slider-01-600x226.jpg 600w"
                                             sizes="(max-width: 891px) 100vw, 891px" />
                                    </div>

                                    <style scope="scope">
                                        #image_1575782013 {
                                            width: 100%;
                                        }
                                    </style>
                                </div>

                            </div>
                            <style scope="scope">

                            </style>
                        </div>
                        <!-- .ux-slider-wrapper -->
                    </div>
                </div>
                <style scope="scope">

                </style>
            </div>
        </div>
        <!-- .section-content -->
        <style scope="scope">
            #section_963530842 {
                padding-top: 15px;
                padding-bottom: 15px;
            }
        </style>
    </section>

    <section class="section category-section section-odd" id="section_641134505">
        <div class="bg section-bg fill bg-fill  bg-loaded">
        </div>
        <!-- .section-bg -->
        <div class="section-content relative">
            <div class="row row-small" id="row-1082116175">
                <div class="col small-12 large-12">
                    <div class="col-inner">
                        <div class="container section-title-container">
                            <h2 class="section-title section-title-center">
                                <b></b><span class="section-title-main" style="color:rgb(0, 178, 20);">
                                    Sản phẩm bán
                                    chạy
                                </span><b></b>
                            </h2>
                        </div>
                        <!-- .section-title -->
                        <div class="row large-columns-3 medium-columns- small-columns-2 row-small">
                            <div class="col">
                                <div class="col-inner">

                                    <div class="badge-container absolute left top z-1">
                                    </div>
                                    <div class="product-small box has-hover box-vertical box-text-bottom">
                                        <div class="box-image" style="width:40%;">
                                            <div class="image-overlay-add image-zoom image-cover" style="padding-top:100%;">
                                                <a href="san-pham/cay-kim-tien-de-ban/index.html">
                                                    <img width="400" height="400" src="../access/wp-content/uploads/2017/11/sp1.jpg" class="attachment-original size-original" alt="" srcset="../access/wp-content/uploads/2017/11/sp1.jpg 400w, ../access/wp-content/uploads/2017/11/sp1-150x150.jpg 150w,../access/wp-content/uploads/2017/11/sp1-300x300.jpg 300w, ../access/wp-content/uploads/2017/11/sp1-100x100.jpg 100w"
                                                         sizes="(max-width: 400px) 100vw, 400px" />
                                                </a>
                                                <div class="overlay fill" style="background-color: rgba(255, 255, 255, 0.18)">
                                                </div>
                                            </div>
                                            <div class="image-tools top right show-on-hover">
                                            </div>
                                            <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                            </div>
                                        </div>
                                        <!-- box-image -->

                                        <div class="box-text text-left">
                                            <div class="title-wrapper">
                                                <p class="name product-title">
                                                    <a href="san-pham/cay-kim-tien-de-ban/index.html">
                                                        Cây
                                                        Kim Tiền
                                                    </a>
                                                </p>
                                            </div>
                                            <div class="price-wrapper">
                                                <div class="star-rating">
                                                    <span style="width:100%">
                                                        Được xếp
                                                        hạng <strong class="rating">5.00</strong> 5
                                                        sao
                                                    </span>
                                                </div>
                                                <span class="price">
                                                    <span class="woocommerce-Price-amount amount">
                                                        450.000<span class="woocommerce-Price-currencySymbol">&#8363;</span>
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="add-to-cart-button">
                                                <a href="indexdbc2.html?add-to-cart=320" rel="nofollow" data-product_id="320" class="ajax_add_to_cart add_to_cart_button product_type_simple button primary is-outline mb-0 is-small">
                                                    Thêm
                                                    vào giỏ
                                                </a>
                                            </div>
                                        </div>
                                        <!-- box-text -->
                                    </div>
                                    <!-- box -->
                                </div>
                                <!-- .col-inner -->
                            </div>
                            <!-- col -->


                            <div class="col">
                                <div class="col-inner">

                                    <div class="badge-container absolute left top z-1">
                                        <div class="callout badge badge-square">
                                            <div class="badge-inner secondary on-sale"><span class="onsale">-10%</span></div>
                                        </div>
                                    </div>
                                    <div class="product-small box has-hover box-vertical box-text-bottom">
                                        <div class="box-image" style="width:40%;">
                                            <div class="image-overlay-add image-zoom image-cover" style="padding-top:100%;">
                                                <a href="san-pham/cay-hanh-phuc/index.html">
                                                    <img width="400" height="400" src="../access/wp-content/uploads/2017/11/cay-phu-quy.jpg" class="attachment-original size-original" alt="" srcset="../access/wp-content/uploads/2017/11/cay-phu-quy.jpg 400w, ../access/wp-content/uploads/2017/11/cay-phu-quy-150x150.jpg 150w, ../access/wp-content/uploads/2017/11/cay-phu-quy-300x300.jpg 300w, ../access/wp-content/uploads/2017/11/cay-phu-quy-100x100.jpg 100w"
                                                         sizes="(max-width: 400px) 100vw, 400px" />
                                                </a>
                                                <div class="overlay fill" style="background-color: rgba(255, 255, 255, 0.18)">
                                                </div>
                                            </div>
                                            <div class="image-tools top right show-on-hover">
                                            </div>
                                            <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                            </div>
                                        </div>
                                        <!-- box-image -->

                                        <div class="box-text text-left">
                                            <div class="title-wrapper">
                                                <p class="name product-title">
                                                    <a href="san-pham/cay-hanh-phuc/index.html">
                                                        Cây Hạnh
                                                        Phúc
                                                    </a>
                                                </p>
                                            </div>
                                            <div class="price-wrapper">
                                                <div class="star-rating">
                                                    <span style="width:100%">
                                                        Được xếp
                                                        hạng <strong class="rating">5.00</strong> 5
                                                        sao
                                                    </span>
                                                </div>
                                                <span class="price">
                                                    <del>
                                                        <span class="woocommerce-Price-amount amount">
                                                            500.000<span class="woocommerce-Price-currencySymbol">&#8363;</span>
                                                        </span>
                                                    </del>
                                                    <ins>
                                                        <span class="woocommerce-Price-amount amount">
                                                            450.000<span class="woocommerce-Price-currencySymbol">&#8363;</span>
                                                        </span>
                                                    </ins>
                                                </span>
                                            </div>
                                            <div class="add-to-cart-button">
                                                <a href="indexda24.html?add-to-cart=472" rel="nofollow" data-product_id="472" class="ajax_add_to_cart add_to_cart_button product_type_simple button primary is-outline mb-0 is-small">
                                                    Thêm
                                                    vào giỏ
                                                </a>
                                            </div>
                                        </div>
                                        <!-- box-text -->
                                    </div>
                                    <!-- box -->
                                </div>
                                <!-- .col-inner -->
                            </div>
                            <!-- col -->


                            <div class="col">
                                <div class="col-inner">

                                    <div class="badge-container absolute left top z-1">
                                    </div>
                                    <div class="product-small box has-hover box-vertical box-text-bottom">
                                        <div class="box-image" style="width:40%;">
                                            <div class="image-overlay-add image-zoom image-cover" style="padding-top:100%;">
                                                <a href="san-pham/cay-duoi-cong-tim/index.html">
                                                    <img width="400" height="400" src="../access/wp-content/uploads/2017/11/cay-duoi-cong-tim.jpg" class="attachment-original size-original" alt="" srcset="../access/wp-content/uploads/2017/11/cay-duoi-cong-tim.jpg 400w, ../access/wp-content/uploads/2017/11/cay-duoi-cong-tim-150x150.jpg 150w, ../access/wp-content/uploads/2017/11/cay-duoi-cong-tim-300x300.jpg 300w, ../access/wp-content/uploads/2017/11/cay-duoi-cong-tim-100x100.jpg 100w"
                                                         sizes="(max-width: 400px) 100vw, 400px" />
                                                </a>
                                                <div class="overlay fill" style="background-color: rgba(255, 255, 255, 0.18)">
                                                </div>
                                            </div>
                                            <div class="image-tools top right show-on-hover">
                                            </div>
                                            <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                            </div>
                                        </div>
                                        <!-- box-image -->

                                        <div class="box-text text-left">
                                            <div class="title-wrapper">
                                                <p class="name product-title">
                                                    <a href="san-pham/cay-duoi-cong-tim/index.html">
                                                        Cây
                                                        Đuôi Công Tím
                                                    </a>
                                                </p>
                                            </div>
                                            <div class="price-wrapper">
                                                <div class="star-rating">
                                                    <span style="width:80%">
                                                        Được xếp
                                                        hạng <strong class="rating">4.00</strong> 5
                                                        sao
                                                    </span>
                                                </div>
                                                <span class="price">
                                                    <span class="woocommerce-Price-amount amount">
                                                        300.000<span class="woocommerce-Price-currencySymbol">&#8363;</span>
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="add-to-cart-button">
                                                <a href="index0cc0.html?add-to-cart=469" rel="nofollow" data-product_id="469" class="ajax_add_to_cart add_to_cart_button product_type_simple button primary is-outline mb-0 is-small">
                                                    Thêm
                                                    vào giỏ
                                                </a>
                                            </div>
                                        </div>
                                        <!-- box-text -->
                                    </div>
                                    <!-- box -->
                                </div>
                                <!-- .col-inner -->
                            </div>
                            <!-- col -->


                            <div class="col">
                                <div class="col-inner">

                                    <div class="badge-container absolute left top z-1">
                                        <div class="callout badge badge-square">
                                            <div class="badge-inner secondary on-sale"><span class="onsale">-20%</span></div>
                                        </div>
                                    </div>
                                    <div class="product-small box has-hover box-vertical box-text-bottom">
                                        <div class="box-image" style="width:40%;">
                                            <div class="image-overlay-add image-zoom image-cover" style="padding-top:100%;">
                                                <a href="san-pham/tieu-canh-composite-01/index.html">
                                                    <img width="510" height="510" src="../access/wp-content/uploads/2017/11/cay-kim-ngan-1-cu-chau-dia-trang-510x510.jpg" class="attachment-original size-original" alt="" />
                                                </a>
                                                <div class="overlay fill" style="background-color: rgba(255, 255, 255, 0.18)">
                                                </div>
                                            </div>
                                            <div class="image-tools top right show-on-hover">
                                            </div>
                                            <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                            </div>
                                        </div>
                                        <!-- box-image -->

                                        <div class="box-text text-left">
                                            <div class="title-wrapper">
                                                <p class="name product-title">
                                                    <a href="san-pham/tieu-canh-composite-01/index.html">
                                                        Tiểu
                                                        cảnh Composite 01
                                                    </a>
                                                </p>
                                            </div>
                                            <div class="price-wrapper">
                                                <div class="star-rating">
                                                    <span style="width:100%">
                                                        Được xếp
                                                        hạng <strong class="rating">5.00</strong> 5
                                                        sao
                                                    </span>
                                                </div>
                                                <span class="price">
                                                    <del>
                                                        <span class="woocommerce-Price-amount amount">
                                                            1.000.000<span class="woocommerce-Price-currencySymbol">&#8363;</span>
                                                        </span>
                                                    </del>
                                                    <ins>
                                                        <span class="woocommerce-Price-amount amount">
                                                            800.000<span class="woocommerce-Price-currencySymbol">&#8363;</span>
                                                        </span>
                                                    </ins>
                                                </span>
                                            </div>
                                            <div class="add-to-cart-button">
                                                <a href="index149d.html?add-to-cart=395" rel="nofollow" data-product_id="395" class="ajax_add_to_cart add_to_cart_button product_type_simple button primary is-outline mb-0 is-small">
                                                    Thêm
                                                    vào giỏ
                                                </a>
                                            </div>
                                        </div>
                                        <!-- box-text -->
                                    </div>
                                    <!-- box -->
                                </div>
                                <!-- .col-inner -->
                            </div>
                            <!-- col -->


                            <div class="col">
                                <div class="col-inner">

                                    <div class="badge-container absolute left top z-1">
                                    </div>
                                    <div class="product-small box has-hover box-vertical box-text-bottom">
                                        <div class="box-image" style="width:40%;">
                                            <div class="image-overlay-add image-zoom image-cover" style="padding-top:100%;">
                                                <a href="san-pham/tieu-canh-terrarium-composite-03/index.html">
                                                    <img width="510" height="510" src="../access/wp-content/uploads/2017/11/cay-ngu-gia-bi-bonsai-510x510.jpg" class="attachment-original size-original" alt="" srcset="../access/wp-content/uploads/2017/11/cay-ngu-gia-bi-bonsai-510x510.jpg 510w, ../access/wp-content/uploads/2017/11/cay-ngu-gia-bi-bonsai-510x510-150x150.jpg 150w, ../access/wp-content/uploads/2017/11/cay-ngu-gia-bi-bonsai-510x510-300x300.jpg 300w, ../access/wp-content/uploads/2017/11/cay-ngu-gia-bi-bonsai-510x510-100x100.jpg 100w"
                                                         sizes="(max-width: 510px) 100vw, 510px" />
                                                </a>
                                                <div class="overlay fill" style="background-color: rgba(255, 255, 255, 0.18)">
                                                </div>
                                            </div>
                                            <div class="image-tools top right show-on-hover">
                                            </div>
                                            <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                            </div>
                                        </div>
                                        <!-- box-image -->

                                        <div class="box-text text-left">
                                            <div class="title-wrapper">
                                                <p class="name product-title">
                                                    <a href="san-pham/tieu-canh-terrarium-composite-03/index.html">
                                                        Tiểu
                                                        cảnh Composite 03
                                                    </a>
                                                </p>
                                            </div>
                                            <div class="price-wrapper">
                                                <div class="star-rating">
                                                    <span style="width:100%">
                                                        Được xếp
                                                        hạng <strong class="rating">5.00</strong> 5
                                                        sao
                                                    </span>
                                                </div>
                                                <span class="price">
                                                    <span class="woocommerce-Price-amount amount">
                                                        500.000<span class="woocommerce-Price-currencySymbol">&#8363;</span>
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="add-to-cart-button">
                                                <a href="indexe590.html?add-to-cart=400" rel="nofollow" data-product_id="400" class="ajax_add_to_cart add_to_cart_button product_type_simple button primary is-outline mb-0 is-small">
                                                    Thêm
                                                    vào giỏ
                                                </a>
                                            </div>
                                        </div>
                                        <!-- box-text -->
                                    </div>
                                    <!-- box -->
                                </div>
                                <!-- .col-inner -->
                            </div>
                            <!-- col -->


                            <div class="col">
                                <div class="col-inner">

                                    <div class="badge-container absolute left top z-1">
                                    </div>
                                    <div class="product-small box has-hover box-vertical box-text-bottom">
                                        <div class="box-image" style="width:40%;">
                                            <div class="image-overlay-add image-zoom image-cover" style="padding-top:100%;">
                                                <a href="san-pham/chau-gom-lu-tron-vat-day-trang/index.html">
                                                    <img width="510" height="510" src="../access/wp-content/uploads/2017/11/cay-trau-ba-de-vuong-do-co-lon-510x510.jpg" class="attachment-original size-original" alt="" srcset="../access/wp-content/uploads/2017/11/cay-trau-ba-de-vuong-do-co-lon-510x510.jpg 510w, ../access/wp-content/uploads/2017/11/cay-trau-ba-de-vuong-do-co-lon-510x510-150x150.jpg 150w, ../access/wp-content/uploads/2017/11/cay-trau-ba-de-vuong-do-co-lon-510x510-300x300.jpg 300w, ../access/wp-content/uploads/2017/11/cay-trau-ba-de-vuong-do-co-lon-510x510-100x100.jpg 100w"
                                                         sizes="(max-width: 510px) 100vw, 510px" />
                                                </a>
                                                <div class="overlay fill" style="background-color: rgba(255, 255, 255, 0.18)">
                                                </div>
                                            </div>
                                            <div class="image-tools top right show-on-hover">
                                            </div>
                                            <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                            </div>
                                        </div>
                                        <!-- box-image -->

                                        <div class="box-text text-left">
                                            <div class="title-wrapper">
                                                <p class="name product-title">
                                                    <a href="san-pham/chau-gom-lu-tron-vat-day-trang/index.html">
                                                        Chậu
                                                        Gốm Lư Tròn Vát
                                                    </a>
                                                </p>
                                            </div>
                                            <div class="price-wrapper">
                                                <div class="star-rating">
                                                    <span style="width:100%">
                                                        Được xếp
                                                        hạng <strong class="rating">5.00</strong> 5
                                                        sao
                                                    </span>
                                                </div>
                                                <span class="price">
                                                    <span class="woocommerce-Price-amount amount">
                                                        50.000<span class="woocommerce-Price-currencySymbol">&#8363;</span>
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="add-to-cart-button">
                                                <a href="index2053.html?add-to-cart=2724" rel="nofollow" data-product_id="2724" class="ajax_add_to_cart add_to_cart_button product_type_simple button primary is-outline mb-0 is-small">
                                                    Thêm
                                                    vào giỏ
                                                </a>
                                            </div>
                                        </div>
                                        <!-- box-text -->
                                    </div>
                                    <!-- box -->
                                </div>
                                <!-- .col-inner -->
                            </div>
                            <!-- col -->

                        </div>
                    </div>
                </div>

                <style scope="scope">

                </style>
            </div>
        </div>
        <!-- .section-content -->


        <style scope="scope">
            #section_641134505 {
                padding-top: 30px;
                padding-bottom: 30px;
            }
        </style>
    </section>
    @* ca van phong*@
    <div>
        @for (var i = 0; i < loai.Count; i++)
        {
            <section class="section category-section" id="section">
                <div class="bg section-bg fill bg-fill  bg-loaded">
                </div>
                <!-- .section-bg -->
                <div class="section-content relative">
                    <div class="row" id="row-395819402">
                        <div class="col small-12 large-12">
                            <div class="col-inner">
                                <div class="container section-title-container">
                                    <h2 class="section-title section-title-normal">
                                        <b></b><span class="section-title-main" style="color:rgb(0, 178, 20);">
                                            @loai[i].Loai
                                        </span><b></b><a asp-controller="SanPham" asp-action="SanPhamTheoLoai" asp-route-maloai="@loai[i].MaLoai">
                                            + Xem
                                            tất cả<i class="icon-angle-right"></i>
                                        </a>
                                    </h2>
                                </div>
                                <!-- .section-title -->
                                <div class="row large-columns-4 medium-columns- small-columns-2 row-small">

                                    @for (var j = 0; j < sp.Count; j++)
                                    {
                                        if (sp[j].MaLoai == loai[i].MaLoai)
                                        {
                                            count++;
                                            <div class="col">
                                                <div class="col-inner">

                                                    <div class="badge-container absolute left top z-1">
                                                        <div class="callout badge badge-square">
                                                            <div class="badge-inner secondary on-sale"><span class="onsale">-10%</span></div>
                                                        </div>
                                                    </div>
                                                    <div class="product-small box has-hover box-normal box-text-bottom">
                                                        <div class="box-image">
                                                            <div class="image-overlay-add image-zoom image-cover" style="padding-top:100%;">

                                                                <a asp-controller="SanPham" asp-action="ChiTietSanPham" asp-route-maSp="@sp[j].MaSp">
                                                                    <img width="400" height="400" src="../access/images/@sp[j].AnhDaiDien" class="attachment-original size-original" alt="" />
                                                                </a>
                                                                <div class="overlay fill" style="background-color: rgba(255, 255, 255, 0.22)">
                                                                </div>
                                                            </div>
                                                            <div class="image-tools top right show-on-hover">
                                                            </div>
                                                            <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                                                            </div>
                                                        </div>
                                                        <!-- box-image -->

                                                        <div class="box-text text-center">
                                                            <div class="title-wrapper">
                                                                <p class="name product-title">
                                                                    <a href="" id="masp" data-open="@sp[j].MaSp">
                                                                        @sp[j].TenSp
                                                                    </a>
                                                                </p>
                                                            </div>
                                                            <div class="price-wrapper">
                                                                <div class="star-rating">
                                                                    <span style="width:100%">
                                                                        Được xếp
                                                                        hạng <strong class="rating">5.00</strong> 5
                                                                        sao
                                                                    </span>
                                                                </div>
                                                                <span class="price">
                                                                    <del>
                                                                        <span class="woocommerce-Price-amount amount">
                                                                            @sp[j].GiaLonNhat<span class="woocommerce-Price-currencySymbol">&#8363;</span>
                                                                        </span>
                                                                    </del>
                                                                    <ins>
                                                                        <span class="woocommerce-Price-amount amount" id="gia" data-open="@sp[j].GiaNhoNhat">
                                                                            @sp[j].GiaNhoNhat<span class="woocommerce-Price-currencySymbol">&#8363;</span>
                                                                        </span>
                                                                    </ins>
                                                                </span>
                                                            </div>
                                                            <div class="add-to-cart-button">
                                                                <a href="" data-product_id="472" class="themvaogiohang add_to_cart_button product_type_simple button primary is-outline mb-0 is-small">
                                                                    Thêm
                                                                    vào giỏ
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <!-- box-text -->
                                                    </div>
                                                    <!-- box -->
                                                </div>
                                                <!-- .col-inner -->
                                            </div>
                                            if (count == 4)
                                            {
                                                count = 0;
                                                break;
                                            }
                                            @* continue;*@

                                        }

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .section-content -->
                
            </section>

        }

        <style scope="scope">
            #section {
                padding-top: 30px;
                padding-bottom: 30px;
            }
        </style>
    </div>
   

</div>

<script>
    var masp = $('#masp').data('open');
    var dongiaban = $('#gia').data('open');
    //alert(dongiaban);
    //alert(masp);
    $('.themvaogiohang').each(function () {

        $(this).on('click', function () {
            var masp = $('#masp').data('open');
            var dongiaban = $('#gia').data('open');
            alert(dongiaban);
            alert(masp);
            if ($('.log-in').data('dn') === "dangxuat") {
                var soluong = document.getElementById("quantity").value;
                //  alert('@ViewBag.MaKH');
                var url = 'https://localhost:7240/api/GioHangAPI/themvaogiohang'
                    + '?MaKH=' + '@ViewBag.MaKH'
                    + '&MaSP=' + 'masp'
                    + '&DonGiaBan=' + 'dongiaban'
                    + '&SoLuong=' + '1';
                $.ajax({
                    url: url,
                    method: 'POST',
                    //alert(url)
                    //contentType: 'json',
                    //dataType: 'json',
                    error: function (response) {
                        alert("loi");
                        //swal("Lỗi khi thêm vào giỏ hàng!", "", "error");
                    },
                    success: function (reponse) {
                        alert('Thanhcong');
                        swal(nameProduct, "Đã được thêm vào giỏ hàng!", "success");
                        //$('.swal-button').on('click', function ()
                        //{
                        //	location.reload();
                        //});
                    }
                });
            }
            else {
                alert("vui long dang nhap");
            }
        });
    });
</script>

