@model IEnumerable<TTCM_Web.Models.TUser>

@{
    ViewData["Title"] = "DanhUser";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Danh Sách Tài Khoản</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Thêm mới</h5>
        <div class="table-responsive">
            <table id="zero_config" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                           UserName
                        </th>
                        <th>
                            Password
                        </th>
                        <th>
                           Loại người dùng
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Username)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Password)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LoaiUser)
                            </td>
                            <td>
                                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Username">Edit</a> 
                                <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Username">Details</a> 
                                <a class="btn btn-success" asp-action="Delete" asp-route-id="@item.Username">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

