@model IEnumerable<TTCM_Web.Models.TTinTuc>

@{
    ViewData["Title"] = "DanhSachTinTuc";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Danh Sách Tin Tức</h3>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Thêm mới</h5>
        <div class="table-responsive">
            <table id="zero_config" class="table table-striped table-bordered">
                <thead>
        <tr>
            <th>
                Ảnh
            </th>
            <th>
                Tiêu đề
            </th>
            <th>
               Nội Dung
            </th>
           
        </tr>
    </thead>
                <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <img src="../../access/images/@item.Anh" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoiDung)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.TieuDe)
            </td>
            <td>
                <button class="btn btn-success" asp-action="Edit" asp-route-id="@item.MaTinTuc">Edit</button> 
                <button class="btn btn-success" asp-action="Details" asp-route-id="@item.MaTinTuc">Details</button> 
                <button class="btn btn-success" asp-action="Delete" asp-route-id="@item.MaTinTuc">Delete</button
            </td>
        </tr>
}
    </tbody>
            </table>
        </div>
    </div>
    </div>
<style>
    .btn{
        margin-top:8px;
    }
    td>img{
        width: 150px;
    }
</style>
